<a href="https://colab.research.google.com/github/Nickguild1993/PyLearn_DS/blob/main/DictionaryMethods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
mydict = {"name" : "Nick", "age": 29, "city": "Austin"}
print(mydict)

{'name': 'Nick', 'age': 29, 'city': 'Austin'}

In [3]:
mydict2 = dict(name = "lauren", age =28, city="Austin")
print(mydict2)

{'name': 'lauren', 'age': 28, 'city': 'Austin'}

accessing values

In [4]:
value = mydict["name"]
print(value)

Nick

Adding values

In [5]:
mydict["lastname"] ="guild"
print(mydict)

{'name': 'Nick', 'age': 29, 'city': 'Austin', 'lastname': 'guild'}

deleting items in dictionaries

In [6]:
del mydict["lastname"] # removes key value pair
print(mydict)

{'name': 'Nick', 'age': 29, 'city': 'Austin'}

checking if a key is in dictionary

In [7]:
if "name" in mydict:
  print(mydict["name"])

Nick

Looping through a dictionary

In [9]:
for value in mydict.values():
  print(value)

Nick
29
Austin

In [10]:
for key, value in mydict.items():
  print(key, value)

name Nick
age 29
city Austin

copying a dictionary

In [13]:
mydict_copy = mydict # APPLIES TO BOTH ORIGINAL AND COPY
print(mydict)

mydict_copy["food"] = "grape"
print(mydict_copy)
print(mydict)

{'name': 'Nick', 'age': 29, 'city': 'Austin'}
{'name': 'Nick', 'age': 29, 'city': 'Austin', 'food': 'grape'}
{'name': 'Nick', 'age': 29, 'city': 'Austin', 'food': 'grape'}

To make an actual copy that won't effect the original dictionary use .copy() or dict()

In [14]:
del mydict["food"]

print(mydict)
mydict_copy = mydict.copy()
mydict_copy["fruit"] = "orange"


print(mydict)
print("-------------")
print(mydict_copy)

{'name': 'Nick', 'age': 29, 'city': 'Austin'}
{'name': 'Nick', 'age': 29, 'city': 'Austin'}
-------------
{'name': 'Nick', 'age': 29, 'city': 'Austin', 'fruit': 'orange'}

#### update method for combining

In [17]:
dict_1 = {"name" : "nick", "age": 29, "city": "Austin", "last" :"Guild"}
dict_2 = dict(name = "Lauren", age = 28, city = "Austin", last = "Smith")
# merge em
dict_1.update(dict_2)

print(dict_1)

{'name': 'Lauren', 'age': 28, 'city': 'Austin', 'last': 'Smith'}

using numbers as a key

In [21]:
my_dict = {10 : "ten", 8: "eight", 6: "six", 4: "four"}
print(my_dict)
value = my_dict[8]
print(value)

{10: 'ten', 8: 'eight', 6: 'six', 4: 'four'}
eight