<a href="https://colab.research.google.com/github/Nickguild1993/PyLearn_DS/blob/main/DS_Ch1_FuncListTupleDict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import dependencies 

import pandas as pd
import numpy as np
# import this

In [7]:
def double(x):
  return x * 2

print(double(34.710))

def apply_to_one(f):
  return f(1)

my_double = double # refers to the previously defined function
x = apply_to_one(my_double) # equals 2

69.42

In [10]:

x = 1
# lambda functions
y = apply_to_one(lambda x: x + 4) # equals 5
y

5

In [14]:
first_name = "Herbert"
last_name = "Gerbert"

full_name = first_name + " " + last_name
print(full_name)

full_name_dos = f'{first_name} {last_name}'
print(full_name_dos)

Herbert Gerbert
Herbert Gerbert

In [15]:
x = [0,1,2,3,4,5,6,7,8,9,15]

print(x[:3])

print(x[-1])

print(x[2:4]) #  the slice i:j -> i is inclusive, j is not. id est. 2 is inclusive, 4 is not.

[0, 1, 2]
15
[2, 3]

In [16]:
# using Stride (haven't used before)

every_third = x[::3]
print(every_third)

five_to_three = x[5:2:-1]
print(five_to_three)

[0, 3, 6, 9]
[5, 4, 3]

In [17]:
x = [0,1,2,3,4,5,6,7,8,9,15]

# MEMBERSHIP CHECK

print(2 in [1,2,3])

print(4 in [3,2,8])

True
False

concatenate lists

In [18]:
y = [4,5,6]

y.extend([8,8,9]) # extend does it in place, altering the list globally

print(y)

[4, 5, 6, 8, 8, 9]

In [19]:
# if you don't want to modify the list

x = [4,5,6]
p = x + [8,8,9]
print(p)

[4, 5, 6, 8, 8, 9]

appending a list one a time

In [20]:
u = [3,4,5]
u.append(0)
print(u)

y = u[-1]
print(y)

z = len(u)
print(z)

[3, 4, 5, 0]
0
4

In [21]:
e,g = [5,15]

print(e)

print(g)

5
15

Tuples

In [22]:
my_tuple = (69,420)

def sum_and_product(x,y):
  return(x +y) + (x * y)

sum_and_product(5,6)

41

Dictionaries

In [23]:
# keys and value pairs

empty_dict = {}

grades = {"Herbert" : 69, "Larry" : 89, "Peter" : 78}

print(grades["Herbert"])
print("Niceeeeeeeee")

69
Niceeeeeeeee

In [24]:
# membership check for Dictionaries | faster than lists!

Larry_grades = "Larry" in grades
print(Larry_grades)

timmy_grades = "Timmy" in grades
print(timmy_grades)

True
False

In [25]:
# Changing a key/value pair or adding new one

grades["Peter"] = 99
print(grades)

grades["Lauren"] = 69
print(grades)

{'Herbert': 69, 'Larry': 89, 'Peter': 99}
{'Herbert': 69, 'Larry': 89, 'Peter': 99, 'Lauren': 69}

### importing defaultdict

In [26]:
from collections import defaultdict

In [27]:
dd_list = defaultdict(list) # list() produces an empty list
dd_list[2].append(1)

print(dd_list)


dd_dict = defaultdict(dict)
dd_dict["Lebron"]["Team"] = "Lakers"

print(dd_dict)

defaultdict(<class 'list'>, {2: [1]})
defaultdict(<class 'dict'>, {'Lebron': {'Team': 'Lakers'}})

In [28]:
dd_pair = defaultdict(lambda: [0,0])
dd_pair[2][1] = 1
print(dd_pair)

defaultdict(<function <lambda> at 0x7fb9b102a170>, {2: [0, 1]})

### importing counter

In [ ]:
# A counter turns a sequence of values into a defualtdict(int) like object mapping keys to count

# gotta ! pip install ole boy

In [ ]:
! pip install counter

Collecting counter
  Downloading Counter-1.0.0.tar.gz (5.2 kB)
Building wheels for collected packages: counter
  Building wheel for counter (setup.py) ... done
  Created wheel for counter: filename=Counter-1.0.0-py3-none-any.whl size=5411 sha256=3a0a85216250ac9cca4db001817de9abf5290129328c9452f9c20f97bf250bd6
  Stored in directory: /root/.cache/pip/wheels/f9/15/75/7a0462a00beb08e391f5da370ca409b56781d2501dba083fa3
Successfully built counter
Installing collected packages: counter
Successfully installed counter-1.0.0

In [29]:
from collections import Counter

In [30]:
c = Counter([0,1,2,3,0]) # c is (basically) {0:2, 1:1, 2:1, 3:1,}
print(c)

Counter({0: 2, 1: 1, 2: 1, 3: 1})

In [31]:
list_test = [3,3,3,2,4,5,6,6,6,8,7,9,15]

cCount = Counter(list_test)
print(cCount)

Counter({3: 3, 6: 3, 2: 1, 4: 1, 5: 1, 8: 1, 7: 1, 9: 1, 15: 1})

In [32]:
word_string = "HellishexistenceHeart"
#### COUNTER IS CASE SENSITIVE!!!
counter = {}

for letter in word_string:
  if letter not in counter:
    counter[letter] = 0
    counter[letter] += 1

counter

{'H': 1,
 'a': 1,
 'c': 1,
 'e': 1,
 'h': 1,
 'i': 1,
 'l': 1,
 'n': 1,
 'r': 1,
 's': 1,
 't': 1,
 'x': 1}

Counter also has a ** most_common ** method which is useful for determining the x amount of most occuring strings in a list

In [33]:
# gorg = ["gorg, heart", "gorg", "larry", "larry", "larry", "fart", "help", "help" , "Terry", "Herbert", "larry", "seth"]

# words = Counter(gorg)

# for words, count in gorg.most_common(3):
#   print(words, count)

#### Sets!  useful data structure which represent a collection of distinct elements.  can define a SET by listing its elements between curly braces:

In [34]:
primes_below_20 = {2,3,5,7,11,13,17,19}

important to note that set() DOES NOT WORK for empty sets. as {} already is uh, an empty dict. in that case you'll have to do the following:

In [35]:
s = set()
s.add(2)
s.add(3)
s.add(69)
x = len(s)
print(x)
yz = 2 in s
print(yz)
xp = 53 in s
print(xp)

3
True
False

In [36]:
y = 2 in s
z = 4 in s
print(y, z)

True False

Use SETS() for two main reasons: 1) keyword "in" is a very fast operation on sets.  If we have a large collection of items that we want to use for a membership test, a set is more appropriate than a list.

In [38]:
stopwords_list = ["a", "an", "gorg", "space"]

# 'zip' in a stopwords_list # FALSO, but, have to check every element. not at all efficient if that list is long.

# instead, we do this
stopwords_set = set(stopwords_list)
"zip" in stopwords_set

False

The Second reason that we use SET() is to the find the *distinct* items in a collection:

In [39]:
item_list = [1,2,3,1,2,3,4]

num_items = len(item_list)
print(num_items)

item_set = set(item_list)
print(item_set)

num_distinct_item = len(item_set)
print(num_distinct_item)

distinct_item_list = list(item_set)
print(distinct_item_list)

7
{1, 2, 3, 4}
4
[1, 2, 3, 4]

### CONTROL FLOW - conditionals

In [47]:
gg = 3
if gg > 2:
  print("you goddamn fool")
else: "nope you imbicile"

you goddamn fool

In [51]:
# Ternary IF THEN ELSE 

parity = "even" if x % 2 == 0 else "odd fucking number"

TypeError: ignored

In [54]:
for x in range(5):
  print(f'{x} is less than 5')

0 is less than 5
1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5

if more complex logic is needed, can use CONTINUE and BREAK

In [57]:
for x in range(30):
  if x == 3:
    continue # go immediately to next iteration // the "3" doesn't matter
  if x == 7:
    break  # quits the loop
  print(x)

0
1
2
3
4
5
6

### truthiness

In [58]:
one_is_less_2 = 1 < 2
print(one_is_less_2)

five_greater_six = 5 > 6
print(five_greater_six)

True
False

Python uses value NONE to indicate a nonexistent value

In [61]:
f = None
assert f is None

Python all() function returns TRUE *IF* all elements are "truthy" // for an any() function, returns TRUE when at least one is "truthy"

In [62]:
all([True,1,{3}]) # all three are true

True

In [63]:
any([False, 0, {5}]) # {5} is a non empty dict, ergo, any true

True

In [66]:
all([False,2,{69}]) # False is false, brah

False

### SORTING

Every python list as a sort() method that sorts in place. If you don't want to mess up the list, can you *sorted* function which returns a new list.

In [71]:
derp = [5,2,7,8,1,2,69,33]
derp.sort() # default is smallest to largest
derp

[1, 2, 2, 5, 7, 8, 33, 69]

In [72]:
larping = ["z", "a", "g", "b", "s"]
larp_sorting = sorted(larping)
larp_sorting

['a', 'b', 'g', 's', 'z']

In [73]:
# using reverse = True parameter & compare the results ofa function that you specify with *key:*

derp = sorted([-5,-3,2,-69, 420, 57], key= abs, reverse=True) # abs = absolute value
derp

[420, -69, 57, -5, -3, 2]

### STARTING LIST COMPS IN NEW NOTEBOOK!!! pg 30