<a href="https://colab.research.google.com/github/Nickguild1993/PyLearn_DS/blob/main/ListComprehensionAdvanced.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

#### list comprehension for filtering

In [3]:
tempatures = [12,32,56,44,68,79,91,83,12]

temps = [t for t in tempatures if 30 <= t < 55]
print(temps)

[32, 44]

In [4]:
numbers = [10,30,45,12,56,30,66,69,71,43,65,23,47,86,59]
num = [number for number in numbers if 20 < number < 69]

print(num)

[30, 45, 56, 30, 66, 43, 65, 23, 47, 59]

In [5]:
alphanumeric = ["46", "n0w", "applefart", "76e", "gorg", "4ever", "lma0"]

a = [int(s) for s in alphanumeric if s.isdigit()]
a

[46]

#### combining lists

In [6]:
colors = ["blue", "purple", "green", "pink"]
models = ["12", "12 mini", "14 pro", "14"]

b = [(model, color) for model in models for color in colors]
b

[('12', 'blue'),
 ('12', 'purple'),
 ('12', 'green'),
 ('12', 'pink'),
 ('12 mini', 'blue'),
 ('12 mini', 'purple'),
 ('12 mini', 'green'),
 ('12 mini', 'pink'),
 ('14 pro', 'blue'),
 ('14 pro', 'purple'),
 ('14 pro', 'green'),
 ('14 pro', 'pink'),
 ('14', 'blue'),
 ('14', 'purple'),
 ('14', 'green'),
 ('14', 'pink')]

#### Finding common elements

In [11]:
students_a = ["brandon", "carlos", "lauren", "ashley" , "steve", "luke", "ron", "jackson"]
students_b = ["lauren", "ashley", "megan", "alice"]

c = [student for student in students_a if student in students_b]
print(c)

['lauren', 'ashley']

In [13]:
d = [34,56,12,14,16,69]
e = [23,12,69,33,55,22,69]

f = [number for number in d if number in e]
f

[12, 69]

#### combining elements with the same position

In [21]:
names = ["steve", "jackson", "ron"]
lasts = ["scholz", "bowie", "bonilla"]
ages = ["23", 22, "29"]

combo = [f' {name} {last} - {age}'for name, last, age in zip(names,lasts,ages)]
print(combo)
print(combo[1])

[' steve scholz - 23', ' jackson bowie - 22', ' ron bonilla - 29']
 jackson bowie - 22

#### convert values

In [27]:
def convert_to_dollars(eur):
  return round(eur *1.19, 2)

prices = [22.30, 12.00, 3.69, 69.42, 55.23]

euros = [convert_to_dollars(eur) for eur in prices]
print(euros)

[26.54, 14.28, 4.39, 82.61, 65.72]

In [28]:
def convert_to_meters(feet):
  return round(feet *3, 2)

foots = [4,12,45,23,43,10]

metric = [convert_to_meters(feet) for feet in foots]
metric

[12, 36, 135, 69, 129, 30]

#### FREQUENCY COUNT

In [29]:
string = "this is my rifle, there are many like it, but this one is mine."

{c :string.count(c) for c in set(string)} # (c) key : value.count(c) for each c in set(variable)

{' ': 13,
 ',': 2,
 '.': 1,
 'a': 2,
 'b': 1,
 'e': 7,
 'f': 1,
 'h': 3,
 'i': 8,
 'k': 1,
 'l': 2,
 'm': 3,
 'n': 3,
 'o': 1,
 'r': 3,
 's': 4,
 't': 5,
 'u': 1,
 'y': 2}

#### generators

In [31]:
def return_next():
  for i in range(10):
    yield i

z = [i for i in return_next()]
z

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]