<a href="https://colab.research.google.com/github/Nickguild1993/PyLearn_DS/blob/main/TuplesMethods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Going over tuple methods

In [1]:
# import libraries
import pandas as pd
import numpy as np

In [2]:
mytuple = ()
print(mytuple)

()

In [3]:
mytuple = ("Nick", 29, "Austin")
print(mytuple)

('Nick', 29, 'Austin')

building a tuple with the tuple function

In [7]:
mytuple = tuple(["Gorg", 69, "Hell"])
print(mytuple)

('Gorg', 69, 'Hell')

In [5]:
# accessing items use index
item = mytuple[0]
print(item)

Gorg

In [9]:
# tuples are immutable 

for i in mytuple:
  print(i)

Gorg
69
Hell

In [10]:
if 69 in mytuple:
  print("yes")
else:
  print("No")

yes

In [12]:
my_tuple = ("a", "p", "p", "l", "e")
print(len(my_tuple))
print(my_tuple.count("p"))
print(my_tuple.count("z"))

5
2
0

In [13]:
print(my_tuple.index("p")) # index starts at 0

1

#### converting list to tuple and vice versa

In [14]:
my_list = list(my_tuple)
print(my_list)

my_tuple = tuple(my_list)
print(my_tuple)

['a', 'p', 'p', 'l', 'e']
('a', 'p', 'p', 'l', 'e')

In [16]:
print(my_tuple[::1])
print(my_tuple[::2])

('a', 'p', 'p', 'l', 'e')
('a', 'p', 'e')

In [18]:
name, age, city = mytuple
print(name)
print(age)
print(city)

Gorg
69
Hell

In [19]:
my_tuple = (0,4,5,7,10,13)
i1, *i2, i3 = my_tuple

print(i1)
print(i3)
print(i2)

0
13
[4, 5, 7, 10]

#### comparing list to tuples for size

In [20]:
import sys

my_list = [1,2,3, "coward", False]
my_tuple = (1,2,3, "coward", False)
print(sys.getsizeof(my_list), "bytes")
print(sys.getsizeof(my_tuple), "bytes") # tuples are more efficient in both space and speed

112 bytes
96 bytes